@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: #dbdbdb; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.calculator {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  background: #d1d1d1;
}
.screen {
  font-family: "Squada One", cursive;
  font-size: 1.5rem;

  text-align: right;
  padding: 1rem;
  width: 90%;
  border-radius: 5px;
  background: #d1d1d1;
  box-shadow: inset 3px 3px 3px #b2b2b2, inset -3px -3px 3px #f0f0f0;
}
.btn-layout {
  margin-top: 1rem;
  width: 20rem;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.btn {
  outline: none;
  font-family: "Squada One", cursive;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;

  border-radius: 5px;
  background: linear-gradient(145deg, #bcbcbc, #e0e0e0);
  box-shadow: 3px 3px 3px #b2b2b2, -3px -3px 3px #f0f0f0;
}
.btn:active {
  box-shadow: inset 3px 3px 3px #b2b2b2, inset -3px -3px 3px #f0f0f0;
}
.btn:hover {
  transition: 0.5s;
  border-radius: 50%;
}
.span-2 {
  grid-column: span 2;
}
.btn-clear {
  background: lightsteelblue;
}
.btn-delete {
  background: lightcoral;
}
.btn-operator {
  background: lightsalmon;
}
